{% load static %}
<section class="block-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                <div class="news-style-one">
                    <h3 class="news-title">
                        <span>Editor Picks</span>
                    </h3>

                    <div class="news-style-one-slide">
                        <div class="item">
                            {% for post in random_posts %}
                            <div class="post-block-wrapper clearfix mb-5">
                                <div class="post-thumbnail">
                                    <a href="single-post.htm">
                                        <img class="img-fluid" src="{{ post.cover.url }}" alt="post-image"/>
                                    </a>
                                </div>
                                <div class="post-content">
                                    <h2 class="post-title mt-3">
                                        <a href="{% url 'post_view' post_id=post.id %}">{{ post.title }}</a>
                                    </h2>
                                    <div class="post-meta mb-2">
                                        <span class="posted-time">
                                            <i class="fa fa-clock-o mr-2">{{ post.pub_date|date:"F j, Y" }}</i>
                                        </span>
                                        <span class="post-author">
                                            by
                                            <a href="author.html">Tarnak Sunder</a>
                                        </span>
                                    </div>
                                    <p>{{ post.categories.first.name }}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="py-40"></div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="sidebar">
                    <div class="widget">
                        {% include "hotnews.html" %}
                    </div>
                </div>
            </div>
        </div>
        <div class="share-block  d-flex justify-content-between align-items-center border-top border-bottom mt-5">
            <div class="post-tags">
                <span>Tags</span>
                {% for category in categories %}
                <a href="{{ category.get_absolute_url }} {% url 'category_posts' category.pk %}">{{ category.name }} </a>
                {% endfor %}
            </div>
    
            
        </div>
    </div>
</section>
